<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
  </head>
  <body>
    <main class="main">
      <nav class="nav">
        <div>
          <img class="logo" src="../images/logo.jpg" alt="logo" />
        </div>
        <div class="links">
          <a href="./shoping.html">Shoping</a>
          <a href="./paybill.html">PayBills</a>
          <a href="./transaction.html">Transaction</a>
          <a href="./user.html">User</a>
          <a href="../index.html">Logout</a>
        </div>
      </nav>
      <div class="container">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Welcome to the online Banking</h1>
        <p>I hope your transaction will be successfull</p>
        <h2>Have a Nice Day!</h2>
    </div>
      </div>
    </main>
    <footer class="footer">
      <h3>@About Us</h3>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>
