<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../styles/user.css">
  </head>
  <body>
    <main class="main">
      <nav class="nav">
        <div>
          <img class="logo" src="../images/logo.jpg" alt="logo" />
        </div>
        <div class="links">
          <a href="./home.html">Home</a>
          <a href="./shoping.html">Shoping</a>
          <a href="./paybill.html">PayBills</a>
          <a href="./transaction.html">Transaction</a>
          <a href="./components/user.html">User</a>
          <a href="../index.html">Logout</a>
        </div>
      </nav>
      <div class="container">
        <div id="user-profile">
            <h2>User Profile</h2>
            <p><strong>Username:</strong> <span id="username"></span></p>
            <p><strong>Account no.:</strong> <span id="account"></span></p>
            <p><strong>Email:</strong> <span id="email"></span></p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <h3>@About Us</h3>
    </footer>
    <script src="../js/user.js"></script>
  </body>
</html>
